.footer {
    background: #111827;
    color: white;

    padding: 35px 48px 20px;
}

.footer-main {
    max-width: 1180px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 28px;

    border-bottom: 1px solid #374151;
}

.footer-brand {
    display: flex;
    align-items: center;

    gap: 12px;
}

.footer-logo {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    color: #111827;

    border-radius: 8px;

    font-weight: 800;
}

.footer-brand h3 {
    margin: 0;

    font-size: 15px;
}

.footer-brand p {
    margin: 3px 0 0;

    color: #9ca3af;

    font-size: 11px;
}

.footer-links {
    display: flex;

    gap: 22px;
}

.footer-links a {
    color: #9ca3af;

    text-decoration: none;

    font-size: 12px;

    transition: 0.2s;
}

.footer-links a:hover {
    color: white;
}

.footer-bottom {
    max-width: 1180px;

    margin: auto;

    padding-top: 18px;

    display: flex;
    justify-content: space-between;

    color: #6b7280;

    font-size: 10px;
}

@media (max-width: 700px) {

    .footer {
        padding: 30px 20px 18px;
    }

    .footer-main {
        flex-direction: column;
        align-items: flex-start;

        gap: 25px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 8px;
    }
}